*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #000000;
  position: relative;
}

li{
  list-style: none;
}

a{
  display: block;
  text-decoration: none;
  color: #000000;
}

.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn{
  padding: 7px 20px;
}

.btn a{
  color: white;
}

.flex{
  display: flex;
}




/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 999;
  padding: 20px;
  font-size: 14px;
  background-color: #ffffff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
}

header .left, header .right{
  align-items: center;
}

header .logo{
  padding-right: 20px;
}

header li{
  padding: 0 20px;
}

header .btn{
  margin-left: 20px;
  background-color: #0061ff;
}




/* JUMBOTRON */
.jumbotron{
  margin-top: 70px;
  height: 500px;
  padding: 70px;
  background-color: #b4d0e7;
}

.jumbotron h1{
  text-align: center;
  margin-bottom: 40px;
}

.jumbo-text{
  

  width: 30%;
  height: 200px;
  background-color: aquamarine;
}

.jumbo-content img{


  width: 70%;
  height: 200px;
  background-color: bisque;
}




/* MAIN */

/* Plan */
.plan{


  height: 1000px;
  background-color: aliceblue;
}

.plan .col{
  width: calc(100% / 3);

  height: 700px;
  background-color: coral;
  border: solid 1px black;
}

.plan .col-bottom{


  height: 200px;
  background-color: azure;
}


/* Partner */
.partner{


  height: 400px;
  background-color: rgb(235, 228, 220);
}

.partner img{
  width: 55%;


  height: 300px;
}

.partner-text{
  width: 45%;
}


/* Operation */
.operation{


  height: 500px;
  background-color: burlywood;
}

.operation .row{
  flex-wrap: wrap;
}

.operation .col{
  width: calc(100% / 3);


  height: 150px;
  background-color: darkgreen;
  border: 1px solid black;
}


/* Team */
.team{


  height: 500px;
  background-color: cornflowerblue;
}

.box-team{


  height: 350px;
  background-color: aqua;
}

.team-bottom{
  justify-content: space-between;
  align-items: center;
  height: 80px;
}


/* Faq */
.faq{


  height: 500px;
  background-color:darkcyan; 
}




/* FOOTER */
footer{
  height: 500px;
  padding: 70px;
  color: #ffffff;
  background-color: #000000;
}

footer nav ul{
  margin-right: 200px;
}