*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex{
  display: flex;
}




/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 999;
  background-color: #ffffff;
}

header .logo{
  padding: 0 20px;
}

header li{
  padding: 0 20px;
}

header .btn{
  padding: 0 20px;
}




/* JUMBOTRON */
.jumbotron{
  margin-top: 80px;
  height: 500px;
  padding: 70px;
  background-color: #b4d0e7;
}

.jumbotron h1{
  text-align: center;
  margin-bottom: 40px;
}

.jumbo-text{
  

  width: 30%;
  height: 200px;
  background-color: aquamarine;
}

.jumbo-content img{


  width: 70%;
  height: 200px;
  background-color: bisque;
}




/* MAIN */

/* Plan */
.plan{


  height: 1000px;
  background-color: aliceblue;
}

.plan .col{
  width: calc(100% / 3);

  height: 700px;
  background-color: coral;
  border: solid 1px black;
}

.plan .col-bottom{


  height: 200px;
  background-color: azure;
}


.plan + section{


  height: 400px;
  background-color: rgb(235, 228, 220);
}


.operation{


  height: 500px;
  background-color: burlywood;
}


.team{


  height: 500px;
  background-color: cornflowerblue;
}


.faq{


  height: 500px;
  background-color:darkcyan; 
}




/* FOOTER */
footer{
  height: 500px;
  background-color: #000000;
}