*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.3rem;
  color: #000000;
  position: relative;
  background-color: #ffffff;
}

li{
  list-style: none;
}

a{
  display: block;
  text-decoration: none;
  color: #000000;
}

h2{
  font-size: 30px;
  margin-bottom: 50px;
}

h4{
  font-size: 20px;
}

img{
  width: 100%;
}

.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn{
  border: none;
}

.btn a{
  padding: 7px 20px;
  color: white;
}

.flex{
  display: flex;
}

.myb{
  margin-bottom: 15px;
}





/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 999;
  padding: 20px;
  font-size: 14px;
  background-color: #ffffff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
}

header .left, header .right{
  align-items: center;
}

header .logo{
  padding-right: 20px;
  width: 140px;
}

header li{
  padding: 0 20px;
}

header .btn{
  margin-left: 20px;
  background-color: #0061ff;
}




/* JUMBOTRON */
.jumbotron{
  margin-top: 70px;
  padding: 70px;
  background-color: #b4d0e7;
}

.jumbotron h1{
  font-size: 60px;
  line-height: 5rem;
  margin-bottom: 40px;
}

.jumbo-text{
  margin-right: 50px;
  width: 30%;
  font-size: 14px;
}

.jumbo-text .btn{
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #0061ff;
}

.jumbo-text span{
  display: block;
}

.jumbo-text i{
  margin-top: 35px;
  margin-bottom: 10px;
  font-size: 30px;
}

.jumbo-content .img{
  position: relative;
  width: 70%;
}

.jumbo-content img{
  position: absolute;
}




/* MAIN */

/* Plan */
.plan{
  padding: 70px 0;
}

.plan > span:first-of-type i{
  color: #0061ff;
}

.plan span:nth-child(3) i{
  color: lightgrey;
}

.plan .row{
  margin-top: 20px;
}

.plan .col{
  width: calc(100% / 3);
  font-size: 14px;
  border: solid 1px lightgrey;
}

.plan .row span{ 
  display: block;
}

.plan .top span{
  text-align: center;
  padding: 8px 0;
  border-bottom: solid 1px lightgrey;
}

.plan .bottom{
  padding: 25px;
}

.plan .bottom h4 + span{
  font-weight: 800;
}

.plan .bottom span:nth-child(3){
  color: #919ca6;
}

.plan .btn{
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #0061ff;
}

.plan .bottom Button + span{
  display: inline-block;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.plan .bottom Button + span + a{ 
  display: inline-block;
  font-size: 14px;
  color: #0061ff;
  text-decoration: underline;
}

.plan .bottom ul{
  margin-top: 25px;
}

.plan .bottom ul :first-child{
  font-weight: 800;
}

.plan .bottom li{
  padding: 15px 0;
}

.plan .bottom li i{
  color: #0061ff;
}

.plan .col-bottom{


  height: 200px;
  background-color: azure;
}




/* Partner */
.partner{


  height: 400px;
  background-color: rgb(235, 228, 220);
}

.partner img{
  width: 55%;


  height: 300px;
}

.partner-text{
  width: 45%;
}


/* Operation */
.operation{


  height: 500px;
  background-color: burlywood;
}

.operation .row{
  flex-wrap: wrap;
}

.operation .col{
  width: calc(100% / 3);


  height: 150px;
  background-color: darkgreen;
  border: 1px solid black;
}


/* Team */
.team{


  height: 500px;
  background-color: cornflowerblue;
}

.box-team{


  height: 350px;
  background-color: aqua;
}

.team-bottom{
  justify-content: space-between;
  align-items: center;
  height: 80px;
}


/* Faq */
.faq{


  height: 500px;
  background-color:darkcyan; 
}




/* FOOTER */
footer{
  height: 500px;
  padding: 70px;
  color: #ffffff;
  background-color: #000000;
}

footer nav ul{
  margin-right: 200px;
}